.page-header
  h1 Entrar em sua todo list

= form_tag sessions_path do
  .row
    .col-xs-offset-3.col-xs-6
      .panel.panel-default
        .panel-body
          .form-group
            = label_tag :email, nil, class: 'control-label'
            = text_field_tag :email, nil, class: 'form-control', name: 'user[email]'
          .form-group
            = label_tag :password, nil, class: 'control-label'
            = password_field_tag :password, nil, class: 'form-control', name: 'user[password]'
          hr
          = submit_tag 'Entrar', class: 'btn btn-primary submit'
