.page-header
  h1 Cadastre-se na mais incrível to-do list!

= form_for @user do |f|
  .row
    .col-xs-12
      = render 'shared/error_messages', model: @user
  .row
    .col-xs-offset-3.col-xs-6
      .panel.panel-default
        .panel-body
          = ftext_field f, :email
          = fpassword_field f, :password
          = fpassword_field f, :password_confirmation
          hr
          = f.submit 'Cadastrar', class: 'submit btn btn-primary'
