#flash-container
  - flash.each do |name, msg|
    - fl = Todo::CONSTANTS::FLASH_MESSAGES[name.to_sym]
    div.alert.alert-dismissable.fade.in class="alert-#{fl[:body]}" role='alert'
      button.close type="button" data-dismiss="alert"
        span aria-hidden="true" &times;
        span.sr-only Close
      = fa_icon fl[:icon], text: msg
