nav.navbar.navbar-inverse.navbar-fixed-top role="navigation"
  .container
    .navbar-header
      button.navbar-toggle.collapsed type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"
        span.sr-only
          | Tarefas
        span.icon-bar
        span.icon-bar
        span.icon-bar
      = link_to "Todo list", root_path, class: "navbar-brand"
    #navbar.collapse.navbar-collapse
      - if current_user
        ul.nav.navbar-nav
          li
            a href=root_path
              = fa_icon 'home', text: 'Home'
          li
            a href=to_dos_path
              = fa_icon ToDo.icon, text: 'Tarefas'
        ul.nav.navbar-nav.navbar-right
          p.navbar-text
            = current_user.email
          li
            a href=log_out_path
              = fa_icon 'sign-out', text: 'Sair'
      - else
        ul.nav.navbar-nav
          li
            a href=log_in_path
              = fa_icon 'sign-in', text: 'Entrar'
          li
            a href=sign_up_path
              = fa_icon 'user-plus', text: 'Cadastrar'
