.page-header
  h1 Bem vindo ao melhor todo list existente.

.row
  .col-xs-12
    h3
      | Para continuar
      a href=log_in_path
        | Faça login
      | ou
      a href=sign_up_path
        | Cadastre-se!
