.page-header
  h3 "#{current_user.email}, bem vindo!"

.panel.panel-default
  .panel-body
    h4 Resumo das tarefas:
    h4
      ul
        li Total:  #{ToDo.find_all(current_user).count}
        li Realizadas: #{ToDo.find_finished(current_user).count}
        li Pendentes: #{ToDo.find_pending(current_user).count}
        li Atrasadas: #{ToDo.find_delayed(current_user).count}
