= form_for @to_do do |f|
  .row
    .col-xs-12
      = render 'shared/error_messages', model: @to_do
  .row
    .col-xs-7
      = ftext_field f, :title
    .col-xs-5
      = fdate_field f, :deadline, class: 'date'
  - unless @to_do.new_record?
    .row
      .col-xs-7
        = fdate_field f, :finished_at, class: 'date'
      .col-xs-5
        .form-group
          = f.label :status
          = f.select :status, options_for_select(ToDo.status_values), {}, { class: 'form-control' }
  .row
    .col-xs-12
      = farea_field f, :description, rows: 5

  .row
    .col-xs-12
      hr
      .actions
        - unless @to_do.new_record?
          = link_to fa_icon(:times, text: 'Apagar'), @to_do, class: 'btn btn-danger', data: { confirm: 'Você tem certeza?' }, method: :delete

        = f.submit 'Salvar', class: 'btn btn-primary submit'
