.page-header
  .row
    .col-xs-7
      h3 = fa_icon ToDo.icon, text: ' Tarefas'
    .col-xs-5.h3.text-right
      = button_to_add new_to_do_path

= form_tag to_dos_path(@params), method: :get do
  .form-group
    = label_tag :search, 'Procurar', class: 'control-label'
    .input-group
      input type= 'text' name= 'title' value= @params[:title] class= 'form-control'
      span.input-group-btn
        button type= 'submit' class= 'btn btn-default'
          | Procurar!

hr
.row
  .col-sm-6
    - unless @params.empty?
      a.btn.btn-danger href= to_dos_path
        = fa_icon :times, text: ' Limpar filtros'

  .col-sm-6.text-right
    .btn.btn-group
      - ToDo.status_values.each do |val|
        a.btn.btn-default class=('active' if @params[:status]  == val[1].to_s) href=to_dos_path(@params.merge(status: val[1]))
          = val[0]


hr
table.table.table-striped
  thead
    tr
      th
      th= ToDo.human_attribute_name(:title)
      th= ToDo.human_attribute_name(:description)
      th= ToDo.human_attribute_name(:deadline)
      th= ToDo.human_attribute_name(:finished_at)
      th.text-center= ToDo.human_attribute_name(:status)
      th

  tbody
    - @to_dos.each do |to_do|
      tr
        td
        td = to_do.title
        td = truncate(to_do.description, lenght: 20)
        td = l to_do.deadline
        td = to_do.finished_at? ? l(to_do.finished_at) : ''
        td = label_status to_do, :status
        td.col-xs-2.text-right
          .btn-group
            = button_to_finish finish_to_do_path(to_do), label: nil
            = button_to_edit edit_to_do_path(to_do), label: nil

.row
  .col-xs-12.text-center
    = will_paginate @to_dos
