/* Put here styles to the app */
$color-error: #a94442

.field_with_errors
  label
    color: $color-error
  input
    border-color: $color-error
    &:focus
      border-color: $color-error
      box-shadow: inset 0 1px 1px rgba(169,68,66,.075), 0 0 8px rgba(169, 67, 66, 0.3)
      -webkit-box-shadow: inset 0 1px 1px rgba(169,68,66,.075), 0 0 8px rgba(169, 67, 66, 0.3)
      -moz-box-shadow: inset 0 1px 1px rgba(169,68,66,.075), 0 0 8px rgba(169, 67, 66, 0.3)

.submit
  float: right

#flash-container
  position: fixed
  width: 45%
  bottom: 40px
  right: 60px
  z-index: 1010
  font-size: 18px

@media (max-width: 768px)
  #flash-container
    width: 70% !important
    width: 15px
